body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 570px; margin: 5px; width: 750px; }
.Treant > .node {  }
.Treant > p { font-family: '微软雅黑', Helvetica, Arial, sans-serf; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 150px;
    font-family: Tahoma;
    font-size: 12px;
}

.nodeExample1 img {
    margin-right:  10px;
}

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: #FFC125; }
.Treant .node.collapsed .collapse-switch { background: none; }

.edge-text {
    border: none;
    text-align: center;
    width: auto;
}

.table {
    margin-bottom: 0 !important;
}

.chaid-container {
    border: 1px #c3c3c3 solid;
    border-radius: 3px;
}

.treebtn-xs {
    font-family: "微软雅黑", Helvetica, Arial, sans-serf;
    padding: 5px 5px;
    font-size: 13px;
    line-height: 1;
    border-radius: 3px;
}

.treebtn-default {
    position: absolute;
    top: 5px;
    color: #fff;
    background-color: #FFC125;
    border-color: #FFC125;
}

.treebtn5 {
    position: absolute;
    right: 20px;
    top: 9px;
    width: 18px;
    height: 20px;
}

.treebtn4 {
    position: absolute;
    right: 60px;
    top: 7px;
}

.treebtn {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 2px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}